---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

import burgerAmericanaImg from "../images/burgers/americana.jpg";
import burgerBlueeyesImg from "../images/burgers/blueeyes.jpg";
import burgerWillieburgerImg from "../images/burgers/willieburger.jpg";
import burgerMidCityImg from "../images/burgers/midcity.jpg";

const data = await Astro.glob("../content/*.md");
---

<Layout title="Smashburgers in Bend">
  <main>
    <h1><a href="/">Smashburgers <span>in Bend</span></a></h1>

    <div class="card-grid">
      {
        data.map((post, i) => {
          let img;
          if (post.frontmatter.slug === "americana") {
            img = burgerAmericanaImg;
          } else if (post.frontmatter.slug === "blueeyes") {
            img = burgerBlueeyesImg;
          } else if (post.frontmatter.slug === "midcity") {
            img = burgerMidCityImg;
          } else if (post.frontmatter.slug === "willieburger") {
            img = burgerWillieburgerImg;
          }
          return (
            <Card
              slug={post.frontmatter.slug}
              img={img}
              bg={post.frontmatter.bg}
              color={post.frontmatter.color}
              title={post.frontmatter.restaurant}
              body={post.frontmatter.summary}
            />
          );
        })
      }
    </div>
  </main>
</Layout>

<style lang="scss">
  main {
    width: 90vw;
    max-width: 800px;
    margin: 0 auto 10rem;
    font-size: 20px;
    line-height: 1.6;
  }
  h1 {
    font-size: var(--font-size-xxxl);
    font-variation-settings: "wdth" 50;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
    text-transform: uppercase;
    transition: 0.1s;
    span {
      font-variation-settings: "wdth" 160;
      display: block;
      font-size: 0.3em;
      font-weight: 200;
      letter-spacing: 1rem;
    }
    a {
      text-decoration: none;
    }
    &:hover,
    &:focus {
      font-variation-settings: "wdth" 25;
    }
  }
  .card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
</style>
