---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

import burgerAmericanaImg from "../images/burgers/americana.jpg";
import burgerBlueeyesImg from "../images/burgers/blueeyes.jpg";
import burgerWillieburgerImg from "../images/burgers/willieburger.jpg";

const data = await Astro.glob("../content/*.md");
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Smashburgers <span>in Bend</span></h1>

    <ul role="list" class="link-card-grid">
      {
        data.map((post, i) => {
          let img;
          if (i === 0) {
            img = burgerAmericanaImg;
          } else if (i === 1) {
            img = burgerBlueeyesImg;
          } else if (i === 2) {
            img = burgerWillieburgerImg;
          }
          return (
            <Card
              slug={post.frontmatter.slug}
              img={img}
              bg={post.frontmatter.bg}
              color={post.frontmatter.color}
              title={post.frontmatter.restaurant}
              body={post.frontmatter.summary}
            />
          );
        })
      }
    </ul>
  </main>
</Layout>

<style lang="scss">
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  h1 {
    font-size: 4rem;
    font-weight: 900;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
    span {
      display: block;
      font-size: 0.5em;
      font-weight: 200;
      text-transform: uppercase;
      letter-spacing: 1rem;
    }
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
</style>
