---
import { getCollection } from "astro:content";

import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

const burgers = await getCollection("burgers");
---

<Layout title="Smashburgers in Bend, Oregon">
  <main>
    <h1>
      <a href="/">Smashburgers <span title="Bend, Oregon">in Bend</span></a>
    </h1>

    <div class="card-grid">
      <p class="intro">
        If you can order it medium-rare, it's not a smashburger. Smashburgers
        are smashed to a thinness that they cook through on the griddle. The
        smashing forms a seared crispy crust, especially on the thinned edges,
        while staying juicy. They are a bit of a trend, but one that appears
        here to stay, likely because they are tasty and burgers in general are
        the most popular food item in America. Here are the current players in
        Bend, Oregon.
      </p>
      {
        burgers.map((post) => {
          return (
            <Card
              slug={post.slug}
              img={post.data.image}
              bg={post.data.bg}
              color={post.data.color}
              title={post.data.restaurant}
              body={post.data.summary}
            />
          );
        })
      }
    </div>
  </main>
</Layout>

<style lang="scss">
  main {
    width: 90vw;
    max-width: 800px;
    margin: 0 auto 10rem;
  }
  h1 {
    font-size: var(--font-size-xxxl);
    font-variation-settings: "wdth" 50;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;

    color: #dd9900;
    color: oklch(73.2% 0.168 77.16);

    margin-block: 5rem;

    transition: 0.5s cubic-bezier(0.47, 1.64, 0.41, 0.8);
    span {
      font-variation-settings: "wdth" 160;
      display: block;
      font-size: var(--font-size-sm);
      font-weight: 200;
      letter-spacing: 1rem;
      color: white;
    }
    a {
      text-decoration: none;
    }
    &:hover,
    &:focus {
      font-variation-settings: "wdth" 25;
    }
  }

  .intro {
    border: 13px solid rgba(white, 0.15);

    padding: 2rem;
    border-radius: 30px;
    margin: 0;
  }
  .card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(20rem, 100%), 1fr));
    gap: 2rem;
    padding: 0;
  }
</style>
