---
import { Image } from "astro:assets";

const { slug, title, body, img, bg, color } = Astro.props;
---

<a
  href={`/burger/${slug}`}
  class="card"
  transition:name={`burger-${slug}`}
  style={`
    background-color: ${bg};
    /* future/cooler way to do contrast friendly color picking */
    /* color: color-contrast(${bg} vs white, black); */
    color: ${color};
  `}
  aria-label={title}
>
  <div class="header">
    <h2 transition:name={`title-${slug}`}>
      {title}
    </h2>
    <p>
      {body}
    </p>
  </div>

  <Image
    src={img}
    alt={`Photograph of burger from ${title}`}
    class="img"
    transition:name={`burger-image-${slug}`}
    width="2500"
    height="2500"
  />
</a>

<style lang="scss">
  .card {
    display: block;
    container: card / inline-size;
    border-radius: 30px;
    position: relative;
    padding-block-end: 300px;
    text-decoration: none;
    .header {
      padding: 1.5rem;

      h2 {
        transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
        display: inline-block;
        font-size: 2.5rem;
        font-size: calc(6cqw + 1rem);
        margin: 0;
        font-variation-settings: "wdth" 200;
      }

      p {
        opacity: 0.66;
        font-size: 1rem;
        font-size: calc(2cqw + 0.5rem);
        text-wrap: balance;
      }
    }

    &:hover,
    &:focus-within {
      .img {
        object-position: right -80px bottom -80px;
      }
      h2 {
        text-decoration: underline overline;
        text-decoration-thickness: 5px;
        text-underline-offset: 0.5rem;
        scale: 1 0.75;
      }
    }
  }

  .img {
    transition: 0.2s;
    transform-origin: bottom right;
    -webkit-mask-image: radial-gradient(
      ellipse 105% 90% at 110% 85%,
      black 60%,
      transparent 95%
    );
    width: 120%;
    max-width: 120%;
    object-fit: cover;
    height: 300px;
    object-position: right -70px bottom -70px;
    position: absolute;
    bottom: 0;
    right: 0;
    border-end-end-radius: 30px;
  }
  p {
    margin-top: 0.5rem;
    margin-bottom: 0;
  }
</style>
